<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      font-family: "Times New Roman";
      padding: 40px;
    }

    h1 {
      text-align: center;
    }

    h2 {
      border-bottom: 1px solid black;
    }
  </style>
</head>

<body>
  <h1>{{name}}</h1>
  <p style="text-align:center">{{email}} | {{phone}}</p>

  <h2>Summary</h2>
  <p>{{summary}}</p>

  <h2>Skills</h2>
  <ul>{{skills}}</ul>

  <h2>Education</h2>
  <ul>{{education}}</ul>

  <h2>Projects</h2>
  <ul>{{projects}}</ul>
</body>

</html>